/.gradle/
/.idea/
/.trae/
/.vscode/
/log4key-all/bin/
/log4key-api/bin/
/log4key-api/build/
/log4key-benchmark/bin/
/log4key-benchmark/build/
/log4key-benchmark/logs/
/log4key-core/bin/
/log4key-core/build/
/logs/
/samples/log4key-config-sample/bin/
/samples/log4key-config-sample/build/
/samples/log4key-quick-start/bin/
/samples/log4key-quick-start/build/
/samples/log4key-spring-boot-simple/bin/
/samples/log4key-spring-boot-simple/build/
